// Place all the styles related to the admin::post_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-outline {
	margin-top: 10px;
	padding-bottom: 100px;
}

.th-userinfo {
	width: 250px;
}
.th-post-body {
	width: 300px;
}
.td-post-body a {
	display: block;
	width: 300px;
	overflow-wrap: break-word;
}