<div class="container about_container">
	<div class="row">
		<div class="col-12">
			<div class="row about_top_box">
				<div class="rounded mx-auto d-block">
					<%= image_tag "cattalk.jpg.png", class: "logo-image" %>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="about">
						<h2>CAT TALKとは… </h2>
							<p>猫ちゃんの供血に協力しても良いという飼い主様や、供血猫を探している飼い主様の出会いのきっかけになったり、情報交換をし合えるコミュニティサイトを目指しております。<br></p>
							<p>供血猫という存在を知らなかった方、今のところ猫ちゃんの献血、輸血を希望していない方にも、ぜひ利用していただき、少しでも多くの飼い主様に供血猫がどういったものなのか知ってもらいたいと思っております。</p>
					</div>
				</div>
				<div class="col-6">
					<%= image_tag "122019.jpg", class: "left-cat-image",:size =>'300x300' %>
				</div>
			</div>

			<div class="row">
				<div class="col-6">
					<%= image_tag "108547.jpg", class: "right-cat-image",:size =>'300x300' %>
				</div>
				<div class="col-6">
					<div class="how-to">
						<h2>使い方</h2>
							<p>ログイン後、マイページに入っていただき、プロフィールの編集、飼っている猫ちゃんの情報を登録できます。</p>
							<p>供血希望、輸血希望の項目にチェックの入った猫ちゃんは、それぞれ"供血希望にゃんこ一覧"、"輸血希望にゃんこ一覧"に表示されます。</p>
							<p>さらに、他のユーザーのプロフィールページに入っていただくと、その人とチャットを開始することができます。
							実際に会う為の情報交換などにご利用ください。</p>
							<p>また、投稿やユーザーに対して通報機能がありますので、不適切な投稿または、不適切なユーザーを発見した際は、管理者に通報していただくことができます。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>