<section class="container">
<h1>投稿一覧</h1>
<!--% @posts.each do |post| %-->
  <!--%= post.user.image_id %-->
  <!--%= post.user.name %-->
  <p>本文</p>
  <span><!--%= @post.body %--></span>
<!--% end %-->
</section>
