
<% @users.each do |user| %>
  <h4>プロフィール</h4>
  <p>プロフィール画像</p><%= attachment_image_tag user, :image, format: 'jpeg',fallback: "no_image.jpg", size: "100x100" %>
  <p>アカウント名</p><%= user.name %>
  <p>メールアドレス</p><%= user.email %>
  <p>都道府県</p><%= user.prefectures %>
<% end %>