// Place all the styles related to the user::cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//cat newのモーダル
.cat-modal-header{
    background-color: burlywood;
}
.cat-modal-footer{
    background-color: burlywood;
}
.cat-modal-body{
    background-color: blanchedalmond;
}

#cat_status{
    background-color: #fff;
}
#cat_blood_type{
    background-color: #fff;
}

.cats-index{
    padding-bottom: 80px;
}

.user-profile{
	padding: 1em 1em;
    margin: 2em 0;
    color: #565656;
    background: #ffffc1;
    box-shadow: 0px 0px 0px 10px #ffffc1;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}
.cat-profile_mens {
    padding: 1em 3em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
.cat-profile_ledis {
    padding: 1em 3em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}
.cat-images{
    overflow-wrap: break-word;
}
.cat_image {
    padding-top: 5px;
}
.note{
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: dashed 3px #ffb2ff;
}

.note .note-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #ffb2ff;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.cat-info{
    margin:5em auto;
    position: relative;
    padding: 0.5em 1.5em;
    width: 80%;
    background-color: white;
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
}
.cat-info:before, .cat-info:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #000000;
}
.cat-info:before {left: 10px;}
.cat-info:after {right: 10px;}

.cat-profile-edit{
    margin: 1em 1em;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #f4b3ff;
    border-bottom: solid 2px #f4b3ff;
    background-color: #fbe6ff;
}

.cat-profile-edit:before, .cat-profile-edit:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #f4b3ff;
}
.cat-profile-edit:before {left: 10px;}
.cat-profile-edit:after {right: 10px;}

.cat-message-edit{
    margin: 1em 1em;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #b3e7ff;
    border-bottom: solid 2px #b3e7ff;
    background-color: #e6f7ff;
}
.cat-message-edit:before, .cat-message-edit:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #b3e7ff;
}
.cat-message-edit:before {left: 10px;}
.cat-message-edit:after {right: 10px;}


.update-btn {
    margin-left: 200px;
}