// Place all the styles related to the user::cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile{
	padding: 2em 2em;
    margin: 2em 0;
    color: #565656;
    background: #ffffc1;
    box-shadow: 0px 0px 0px 10px #ffffc1;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}
.cat-profile_mens {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
.cat-profile_ledis {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}

.note{
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: dashed 3px #ffb2ff;
}

.note .note-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #ffb2ff;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}