// Place all the styles related to the user::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-container {
  background-color: white;
  padding: 50px;
  margin-bottom: 30px;
}
.index-box {
	background-color: white;
	margin: 40px 0;
	padding: 63px;
}

