// Place all the styles related to the user::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav {
	display: flex;
}
.report-follow-chat-btn{
	display: flex;
}
.profile-show{
	min-height: 100vh;
	position: relative;
	padding-bottom: 80px;
}

.profile-show, .table th, .table td {
    word-break: break-all;
}

